
@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
  60% { transform: translateY(0); }
  100% { transform: translateY(-3px); }
}
.App {
  text-align: center;
}
